<h1 class="font-weight-bold" align="center">Untracked</h1>
<form action="<%= goodapp_untracked_path %>" method="POST">
  <div align="center">
    <button
      type="submit"
      class="btn btn-primary font-weight-bold button-orange"
      name="execute"
    >
      GOOD APP
    </button>
  </div>
</form>
